<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.name %>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li>
        <%= link_to "Posts" , root_path, class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to "Profile", user_path(current_user), class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to "Edit account" , edit_user_registration_path, class:"dropdown-item" %>
      </li>
      <li>
        <%= button_to "Log out" , destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Account
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li>
        <%= link_to "Posts" , root_path, class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to "Sign in" , new_user_session_path, class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to "Sign up" , new_user_registration_path, class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to "About" , about_path, class:"dropdown-item" %>
      </li>
    </ul>
  </li>
<% end %>
