<div id="<%= dom_id post %>">
  <div class="p-4 mb-1 bg-light rounded-3">
    <div class="container-fluid py-2">
      <p class="display-6 fs-3 fw-bold"><%= post.title %></p>
      <p>posted by: <%= post.user.name %></p>
      <p class="col-md-8 fs-5"><%= post.body %></p>
      <p><%= pluralize(post.views, "view") %></p>
    </div>
  </div>
</div>
